:root{
    --cor_black: #000;
    --cor_backG: #f8f8f8;
    --cor_font_hover_head:#7e9292;
    --cor_font_head: #f8f8f8;
    --cor_font_text: #013f01;
    --cor_hover_box: #228B22;
    --cor_box: #32cd32;
    --fonte_head: Arial;
    --fonte_text: Garamond;
}

*, #TextKey{
    font-family:Arial, Helvetica, sans-serif;
}

body , ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1rem;
}

.logo{
    -webkit-mask-attachment: fixed;
    width: 230px;
    height: 230px;
}

.conteinerCont{
    background-color: var(--cor_backG);
    width: 1200px;
    padding-bottom: 82px;
    margin: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.caixaTexto, .caixaTexto2{
    padding-left: 140px;
    padding-right: 140px;
}

.caixaTexto h2, .caixaTexto2 h2{
    text-align: center;
    color: black;
}

.caixaTexto p , .caixaTexto2 p{
    font-size: 1.2em;
    color: black;
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cana, .cana2{
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}   

.img1, .img2{
    width: 70%;
    border-radius: 10px;
}

.cabeca{
    align-items: center;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right center;
    background-attachment: fixed;
    padding-top: 15px;
    padding-bottom: 70px;
}

.logo h1{
    color: var(--cor_font_head);
    padding-bottom: 8px;
    text-shadow: 3px 3px 8px #000000;
    font-family: Open Sans;
    text-align: center;
    font-size: 25px;
}

.cabecalho{
    font-family: "Franklin ITC",sans-serif;
    background: var(--cor_box);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 70px; 
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px -2px #000000;
    z-index: +1;
}

.menu {
    display: flex;
    margin-left: 13px;
}

.menu a{
    text-decoration: none;
    color: var(--cor_font_head);
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menu li{
    min-width: 60px;
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--cor_box);
    transition: background-color 0.6s;
}

.menu li:hover{
    background-color: var(--cor_hover_box);
}

body{
    background: url(img_est/ImgBody.jpg);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right center;
    background-attachment: fixed;
}

.textoTittle{
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
}

.btContent{
    display: flex;
    justify-content: center;
    padding: 25px 0 0 0;
}

.bt {
    background-color: var(--cor_box);
    color: var(--cor_backG);
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding: 13px 15px;
    text-decoration: none;
    transition: 0.6s;
}

.bt:hover{
    background-color: var(--cor_hover_box);
}
.bot{
    width: auto;
    height: 50px;
    background-color: var(--cor_box);
}

footer{
    color: #777;
    padding: 22px 0;
    font-family: Times, Times New Roman, serif;
    font-size: 14px;
    background-color: var(--cor_backG);
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    clear: both;
    border-top: 50px solid var(--cor_box);
}

.imag{
    margin-right: 10px;
    vertical-align: middle;
    width: 35px;  
}

@media (max-width: 1200px){
    .conteinerCont{
        width: auto;
        border-radius: 0;
    }
    .bt{
        font-size: 13px;
    }
}

@media (max-width: 750px){
    .caixaTexto, .caixaTexto2{
        padding-left: 90px;
        padding-right: 90px;
    }
    .bt{
        font-size: 12px;
    }
}

@media (max-width: 600px){
    footer{
        font-size: 10px;
        padding: 20px;
    }
    .caixaTexto, .caixaTexto2{
        padding-left: 40px;
        padding-right: 40px;
    }  
    .cabecalho{
        justify-content: center;
    }
}

@media (max-width: 330px){
    .menu a{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 10pt;
    }
}
