.dal{
    text-decoration: none;
    color: var(--cor_black);
    font-size: 2em;
}

.dal:hover{
    text-decoration: underline;
}

@media (max-width: 600px){
    .caixaTexto h3{
        font-size: 1.0rem;
    }
    .caixaTexto p, .caixaTexto a{
        font-size: 0.9rem;
    }
}
